<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/a.css">
    <script src="../public/js/vue.js"></script>
    <script src="../public/js/axios.js"></script>

</head>

<body>
    <header>
        <div class="head clearfix">
            <div class="logo">
                <a href="index.html" title="豆果美食"></a>
            </div>
            <div class="logon">
                <div class="thirdparty">
                    <a href="#" class="qq">QQ登录</a>
                    <a href="#" class="sina">新浪微博</a>
                </div>
                <div class="userinfo">
                    <a href="login.html">登录</a>
                    <span>|</span>
                    <a href="register.html">注册</a>
                    <span>|</span>
                    <a href="#">下载客户端</a>
                </div>
            </div>
        </div>
        <div class="headnav">
            <div class="navwrap">
                <ul class="navlist">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="recipe_jx.html">菜谱<span></span></a></li>
                    <li><a href="mall.html">商城<span></span></a></li>
                    <li><a href="diet_theme.html">主题站</a></li>
                    <li><a href="#">活动&比赛</a></li>
                    <li><a href="comic.html">动漫</a></li>
                </ul>
                <div class="navright">
                    <form action="">
                        <input type="text" placeholder="搜索菜谱、菜单、食材、用户">
                        <input type="submit" value="">
                    </form>
                    <a href="#"><span></span><span>发布</span></a>
                </div>
            </div>
        </div>
    </header>

    <article id="app">
        <articlenav></articlenav>
        <div class="articletitle">选择你要添加的食材</div>
        <maincontent></maincontent>
    </article>

    <footer>
        <div class="link">
            <a href="">关于豆果</a>
            <span>·</span>
            <a href="">在豆果工作</a>
            <span>·</span>
            <a href="">意见反馈</a>
            <span>·</span>
            <a href="">友情链接</a>
            <span>·</span>
            <a href="">菜谱大全</a>
        </div>
        <div class="cght">
            ©2009-2020 <a href="http://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a>
            <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">京ICP证111032号</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102001133" target="_blank">
                京公网安备11010102001133号
            </a>
            <a href="http://sq.ccm.gov.cn/ccnt/sczr/doLogin" target="_blank">
                <img src="https://i1.douguo.com//upload/banner/1522057799.png" style="margin-bottom: -3px;width:20px"> 京网文【2017】6954-770号
            </a> 食品流通许可证SP1101061510252413
        </div>
        <div class="fans">

        </div>
    </footer>
    <script src="../public/js/a.js"></script>
</body>

</html>