<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diet_article</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/diet_article.css">
</head>

<body>
    <header>
        <div id="header">
            <div class="container header">
                <a href="index.html"><img src="https://cp1.douguo.com/static/nweb/images/logo3.png?20191218" alt=""></a>
                <ul class="headlist">
                    <li><a href="index.html">首页</a></li>
                    <li class="Item2"><a href="recipe_jx.html"><span>菜谱</span><span class="icon"></span></a>
                        <div class="ctip">
                            <div class="ctab">
                                <a href="recipe_jx.html"><img src="https://cp1.douguo.com/static/nweb/images/jx3.png" alt=""> 精选</a>
                                <a href="recipe_zx.html"><img src="https://i1.douguo.com/upload/banner/1585648022.png" alt=""> 最新</a>
                                <a href="recipe_cd.html"><img src="https://cp1.douguo.com/static/nweb/images/menu3.png" alt=""> 菜单</a>
                            </div>
                            <div class="cblok">
                                <div class="citem">
                                    <span>常见菜式</span>
                                    <div class="imublo">
                                        <a href="recipe_desc3.html?家常菜" target="_blank">家常菜</a>
                                        <a href="recipe_desc3.html?热菜" target="_blank">热菜</a>
                                        <a href="recipe_desc3.html?凉菜" target="_blank">凉菜</a>
                                        <a href="recipe_desc3.html?主食" target="_blank">主食</a>
                                        <a href="recipe_desc3.html?汤" target="_blank">汤</a>
                                        <a href="recipe_desc3.html?早餐" target="_blank">早餐</a>
                                        <a href="recipe_desc3.html?午餐" target="_blank">午餐</a>
                                        <a href="recipe_desc3.html?海鲜" target="_blank">海鲜</a>
                                        <a href="recipe_desc3.html?孕妇" target="_blank">孕妇</a>
                                        <a href="recipe_desc3.html?甜品" target="_blank">甜品</a>
                                        <a href="recipe_desc3.html?粥" target="_blank">粥</a>
                                        <a href="recipe_desc3.html?宝宝食谱" target="_blank">宝宝食谱</a>
                                        <a href="recipe_desc3.html?糕点" target="_blank">糕点</a>
                                        <a href="recipe_desc3.html?微波炉" target="_blank">微波炉</a>
                                    </div>
                                </div>
                                <div class="citem">
                                    <span>中国菜系</span>
                                    <div class="imublo">
                                        <a href="recipe_desc3.html?川菜" target="_blank">川菜</a>
                                        <a href="recipe_desc3.html?粤菜" target="_blank">粤菜</a>
                                        <a href="recipe_desc3.html?东北菜" target="_blank">东北菜</a>
                                        <a href="recipe_desc3.html?湘菜" target="_blank">湘菜</a>
                                        <a href="recipe_desc3.html?鲁菜" target="_blank">鲁菜</a>
                                        <a href="recipe_desc3.html?浙菜" target="_blank">浙菜</a>
                                        <a href="recipe_desc3.html?湖北菜" target="_blank">湖北菜</a>
                                        <a href="recipe_desc3.html?清真菜" target="_blank">清真菜</a>
                                    </div>
                                </div>
                                <div class="citem">
                                    <span>外国食谱</span>
                                    <div class="imublo">
                                        <a href="recipe_desc3.html?韩国" target="_blank">韩国</a>
                                        <a href="recipe_desc3.html?日本料理" target="_blank">日本料理</a>
                                        <a href="recipe_desc3.html?法国" target="_blank">法国</a>
                                        <a href="recipe_desc3.html?意大利餐" target="_blank">意大利餐</a>
                                    </div>
                                </div>
                                <div class="citem">
                                    <span>各地小吃</span>
                                    <div class="imublo">
                                        <a href="recipe_desc3.html?四川小吃" target="_blank">四川小吃</a>
                                        <a href="recipe_desc3.html?广东小吃" target="_blank">广东小吃</a>
                                        <a href="recipe_desc3.html?北京小吃" target="_blank">北京小吃</a>
                                        <a href="recipe_desc3.html?陕西小吃" target="_blank">陕西小吃</a>
                                    </div>
                                </div>
                                <div class="citem">
                                    <span>烘焙大全</span>
                                    <div class="imublo">
                                        <a href="recipe_desc3.html?蛋糕" target="_blank">蛋糕</a>
                                        <a href="recipe_desc3.html?面包" target="_blank">面包</a>
                                        <a href="recipe_desc3.html?饼干" target="_blank">饼干</a>
                                        <a href="recipe_desc3.html?披萨" target="_blank">披萨</a>
                                        <a href="recipe_desc3.html?甜品" target="_blank">甜品</a>
                                    </div>
                                </div>
                            </div>
                            <div class="cmore">
                                <a href="recipe_fl.html" target="_blank"><span>查看全部分类</span> <img src="https://cp1.douguo.com/static/nweb/images/more2.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="Item3"><a href="diet_article.html"><span>健康饮食</span><span class="icon"></span></a>
                        <div class="healthy">
                            <div class="cblok">
                                <div class="diet">
                                    <span>饮食健康</span>
                                    <a href="diet_article.html" target="_blank">饮食新闻</a>
                                    <a href="recipe_desc3.html?美容瘦身" target="_blank">美容瘦身</a>
                                    <a href="recipe_desc3.html?饮食小常识" target="_blank">饮食小常识</a>
                                    <a href="recipe_desc3.html?养生秘方" target="_blank">养生秘方</a>
                                </div>
                                <div class="diet">
                                    <span>功能性调理</span>
                                    <a href="recipe_desc3.html?清热去火" target="_blank">清热去火</a>
                                    <a href="recipe_desc3.html?减肥" target="_blank">减肥</a>
                                    <a href="recipe_desc3.html?祛痰" target="_blank">祛痰</a>
                                    <a href="recipe_desc3.html?乌发" target="_blank">乌发</a>
                                    <a href="recipe_desc3.html?滋阴壮阳" target="_blank">滋阴壮阳</a>
                                    <a href="recipe_desc3.html?健脾养胃" target="_blank">健脾养胃</a>
                                </div>
                                <div class="diet">
                                    <span>人群膳食</span>
                                    <a href="recipe_desc3.html?孕妇" target="_blank">孕妇</a>
                                    <a href="recipe_desc3.html?老人" target="_blank">老人</a>
                                    <a href="recipe_desc3.html?产妇" target="_blank">产妇</a>
                                    <a href="recipe_desc3.html?哺乳期" target="_blank">哺乳期</a>
                                </div>
                                <div class="diet">
                                    <span>疾病调理</span>
                                    <a href="recipe_desc3.html?糖尿病" target="_blank">糖尿病</a>
                                    <a href="recipe_desc3.html?高血压" target="_blank">高血压</a>
                                    <a href="recipe_desc3.html?痛风" target="_blank">痛风</a>
                                </div>
                                <div class="diet">
                                    <span>功效营养</span>
                                    <a href="recipe_desc3.html?补钙" target="_blank">补钙</a>
                                    <a href="recipe_desc3.html?贫血" target="_blank">贫血</a>
                                    <a href="recipe_desc3.html?提高免疫力" target="_blank">提高免疫力</a>
                                    <a href="recipe_desc3.html?养胃" target="_blank">养胃</a>
                                    <a href="recipe_desc3.html?防雾霾" target="_blank">防雾霾</a>
                                    <a href="recipe_desc3.html?润肺止咳" target="_blank">润肺止咳</a>
                                    <a href="recipe_desc3.html?养颜" target="_blank">养颜</a>
                                    <a href="recipe_desc3.html?失眠" target="_blank">失眠</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="note.html">笔记</a></li>
                    <li><a href="mall.html">商城</a></li>
                    <li><a href="comic.html">动漫</a></li>
                </ul>
                <div class="search">
                    <input type="text" placeholder="搜索菜谱、菜单、食材、用户" id="search"><input type="text" id="btn">
                    <div class="preshow">
                        <li class="item"><a href="recipe_desc3.html?减肥餐">1.减肥餐</a></li>
                        <li class="item"><a href="recipe_desc3.html?家常菜">2.家常菜</a></li>
                        <li class="item"><a href="recipe_desc3.html?南瓜">3.南瓜</a></li>
                        <li class="item"><a href="recipe_desc3.html?月子餐">4.月子餐</a></li>
                        <li class="item"><a href="recipe_desc3.html?饼干">5.饼干</a></li>
                        <li class="item"><a href="recipe_desc3.html?宵夜">6.宵夜</a></li>
                        <li class="item"><a href="recipe_desc3.html?土豆">7.土豆</a></li>
                        <li class="item"><a href="recipe_desc3.html?快手菜">8.快手菜</a></li>
                        <li class="item"><a href="recipe_desc3.html?早餐">9.早餐</a></li>
                        <li class="item"><a href="recipe_desc3.html?口水鸡">10.口水鸡</a></li>
                    </div>
                </div>
                <script>
                    var ipt = document.getElementById('search');
                    var btn = document.getElementById('btn')
                    var preshow = document.querySelector('.preshow');
                    btn.onclick = function() {
                        if (ipt.value) {
                            window.location.href = 'recipe_desc3.html?' + ipt.value;
                            ipt.value = ''
                        }
                    }
                    ipt.onkeydown = function(e) {
                        if (e.keyCode == 13 && ipt.value) {
                            window.location.href = 'recipe_desc3.html?' + ipt.value;
                            ipt.value = ''
                        }
                    }
                    ipt.onfocus = function() {
                        this.placeholder = '';
                        preshow.style.display = 'block';
                    }
                    ipt.onblur = function() {
                        setTimeout(function() {
                            preshow.style.display = 'none';
                        }, 2000)
                    }
                </script>
                <div class="publish">
                    <div class="release">发布</div>
                    <div class="pubt-box">
                        <a href="login.html">发布菜谱</a>
                        <a href="login.html">创建菜单</a>
                    </div>
                </div>
                <div class="perinfo">
                    <a href="login.html">登录</a><span>|</span><a href="register.html">注册</a>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="type-tab">
            <div class="type-header clearfix">
                <a href="diet_article.html" class="active">全部文章</a>
                <a href="diet_theme.html">全部主题站</a>
            </div>
        </div>
        <div class="main">
            <div id="left">
                <ul id="mb40"></ul>
                <div id="app">
                    <pageination :total="model.total" :size="model.size" :page="model.page" :changge="pageFn"></pageination>
                </div>
                <!-- 面包屑导航 -->
                <p class="fcc">你当前的位置：<a href="/" title="豆果美食">豆果美食</a> &gt; 主题站</p>
            </div>
            <div id="right">
                <div class="stit title-head">
                    <h3>主题站</h3>
                </div>
                <div id="theme" class="clearfix"></div>

                <div cid="submission">
                    <div class="stit title-head">
                        <h3>欢迎来稿</h3>
                    </div>
                    <div class="content1">
                        <p>豆果美食主题站提供了一个温暖的平台，如果你是个资深吃货，爱好写作，并且乐于分享，那么我们找的就是你啦！</p>
                        <p>文章一经录用，奖2000积分！投稿要求：原创文章，语言流畅，思路清晰，主题与“美食”相关，文章至少2000字，图片精美。</p>
                        <p>投稿邮箱：bj@douguo.com 我们期待您的来稿（来稿请注明您的豆果ID）。</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="dginfo">
                    <div class="footleft">
                        <div class="footlogo">
                            <img src="https://cp1.douguo.com//static/nweb/images/logo3.png?20191218" alt="">
                        </div>
                        <div class="datainfo">
                            <p><span>500万+</span>美食菜谱；<span>2000万+</span>互动内容；<span>3000+</span>美食课堂；<span>5000万+</span>用户每天都有新分享</p>
                        </div>
                    </div>
                    <div class="footright">
                        <h3>扫二维码，下载豆果手机应用：</h3>
                        <ul>
                            <li>
                                <a href="" class=""><img width="92" height="92" src="https://cp1.douguo.com//static/nweb/images/qrcode.png?2001" alt="豆果美食"></a>
                                <p>豆果美食</p>
                            </li>
                            <li>
                                <a href="" class=""><img width="92" height="92" src="https://cp1.douguo.com//static/nweb/images/xcx.jpg?2001" alt="豆果美食"></a>
                                <p>微信扫一扫</p>
                            </li>
                            <li>
                                <a href="" class=""><img width="92" height="92" src="https://i1.douguo.com//upload/banner/1578991488.png" alt="豆果美食"></a>
                                <p>豆果公众号</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footest">
                    <div class="footlink">
                        <a href="">关于豆果</a>
                        <span>·</span>
                        <a href="">在豆果工作</a>
                        <span>·</span>
                        <a href="">意见反馈</a>
                        <span>·</span>
                        <a href="">友情链接</a>
                        <span>·</span>
                        <a href="">菜谱大全</a>
                    </div>
                    <div class="cght" style="text-align: center;">
                        <a href="https://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a>
                        <span>京ICP证111032号</span>
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038268">
                            <img src="https://i1.douguo.com//upload/banner/1564469142.png" lazysrc="" style="margin-bottom: -3px;width:20px"> 京公网安备 11010502038268号
                        </a>
                        <a target="_blank" href="http://beian.miit.gov.cn">京ICP备09012748号</a>
                        <p style="margin:5px 0;cursor: pointer;" onclick="$('.smask2').show();$('.medicinal_box').show();">互联网药品信息服务资格证书</p>
                        <a href="http://sq.ccm.gov.cn/ccnt/sczr/doLogin" target="_blank">
                            <img src="https://i1.douguo.com//upload/banner/1522057799.png" style="margin-bottom: -3px;width:20px"> 京网文【2017】6954-770号
                        </a> 食品流通许可证SP1101061510252413
                        <a href="javascript:void(0);" style="display:block;text-align:center;margin-top:5px;" onclick="$('.smask2').show();$('.tvbox').show();">广播电视节目制作经营许可证（京）字第11624号</a>
                        <div class="smask2" style="position:fixed;width:100%;height:100%;top:0;left:0;background: black;z-index:999;display: none;opacity: .6;filter: alpha(opacity=60)"></div>
                        <div class="tvbox" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                            <img src="https://i1.douguo.com//upload/banner/1551092008.jpg" alt="">
                            <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.tvbox').hide();">
                        </div>
                        <div class="medicinal_box" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                            <img style="display:block;width:700px;" src="https://i1.douguo.com//upload/banner/1577185524.jpg" alt="">
                            <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.medicinal_box').hide();">
                        </div>
                    </div>
                    <div class="fans">
                        <a href=""><img height="22px" src="../public/img/footimg.png" alt=""></a>
                        <a href=""><img height="22px" src="https://i1.douguo.com/upload/banner/1528470330.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/vue.js"></script>
    <script src="../public/js/axios.js"></script>
    <script src="../public/js/pageination.js"></script>
    <script src="../public/js/diet_article.js"></script>
</body>

</html>