<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/login.css">
</head>

<body>
    <header>
        <div class="head">
            <a href=""><img src="https://passport.douguo.com/public/img/web/logo_lo.png?191218" alt=""></a>
        </div>
    </header>
    <section>
        <div class="main">
            <img src="https://passport.douguo.com/public/img/web/sinin.png" alt="">
            <div class="main-right">
                <div class="ipts clear">
                    <input type="text" class="ipt fl" id="phone" autocomplete="off" placeholder="+ 86">
                    <div class="hints">请输入手机号</div>
                </div>
                <div class="ipts clear">
                    <input type="text" class="ipt fl" id="psw" autocomplete="off" placeholder="请输入密码">
                </div>
                <div class="protocol"><input type="checkbox" id="auto">
                    <p>我已阅读并且同意<span>豆果美食使用协议</span></p>
                </div>
                <a href="homeTow.html">
                    <button type="button" id="submit">登陆</button>
                </a>
            </div>
        </div>

    </section>
    <footer>
        <div>关于豆果 · 在豆果工作 · 意见反馈 · 友情链接 · 菜谱大全 · 品牌馆</div>
        <p>©2009-2015 北京豆果信息技术有限公司 京ICP证111032号 京公网安备11010102001133号 京网文[2014]0774-174号</p>
    </footer>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/login.js"></script>
</body>

</html>