.headlist li:nth-child(6) a {
    color: #FFB31A;
    font-weight: bold;
    border-bottom: 2px solid #FFB31A;
}

.headlist li:nth-child(1) a {
    color: #333;
    font-weight: bold;
    border-bottom: none;
}

#main {
    width: 1000px;
    margin: 0 auto;
}

.box1 {
    display: flex;
    justify-content: space-between;
}

.box {
    font-size: 0;
    width: 690px;
}

.box-img {
    margin-top: 30px;
    display: inline-block;
    width: 330px;
    height: 392px;
}

.box-img:nth-child(odd) {
    margin-right: 30px;
}

.box-img img {
    width: 100%;
}

.img {
    width: 330px;
    height: 330px;
    overflow: hidden;
}

.box-img p {
    height: 62px;
    width: 180px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 62px;
    text-align: center;
}

.box-img a {
    color: #333;
    display: block;
    text-decoration: none;
}

a:hover {
    color: #ffaa00;
}

.floor {
    margin-top: 80px;
}

.floor a {
    display: inline-block;
}

.box_right {
    margin: 0;
    padding: 0;
    width: 280px;
    list-style-type: none;
}

.box_right li {
    height: 34px;
    color: #333;
    line-height: 34px;
    font-size: 14px;
}